<div class="top-bar">
  <div class="container">
    <!-- <dekstop header start -->
    <div class="d-none d-sm-none d-md-block">
      <div class="row d-flex align-items-center ">
        <div class="col-md-6">
          <img alt="MBTA E-Ticket Logo" src="assets/images/MBTA E-Ticket.png" width="80px">
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-md-end justify-content-between">
            <div class="login" *ngIf="isAuthenticated && user">
              <a [routerLink]="['/booking']" routerLinkActive="router-link-active" class="login-btn cursor mr-5">
                <span class="">Booking</span>
              </a>
              <a [routerLink]="['/booking-history']" routerLinkActive="router-link-active"
                class="login-btn cursor mr-5">
                <span class="">History</span>
              </a>

              <a (click)="logout()" class="login-btn cursor">
                <i class="fa fa-sign-out icon"></i>
                <span class="">{{user.firstName}}</span>
              </a>

            </div>
            <div class="login" *ngIf="!isAuthenticated">
              <a [routerLink]="['/auth']" routerLinkActive="router-link-active" class="login-btn cursor">
                <i class="fa fa-user-circle icon"></i>
                <span class="">Sign In</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- dekstop header end -->

    <!-- <mobile header start -->
    <div class="d-block d-sm-block d-md-none">
      <div class="row">
        <div class="col-4 float-left d-flex align-items-center">
          <li class="list-unstyled"><i class="fa fa-bars icon" (click)="openNav()"></i></li>
        </div> 
        <div class="col-4 text-center">
          <img alt="MBTA E-Ticket Logo" src="assets/images/MBTA-E-Ticket.png" width="50px">
        </div>
        <div class="col-4 float-right d-flex justify-content-end align-items-center">
          <div class="login" *ngIf="!isAuthenticated">
            <a [routerLink]="['/auth']" routerLinkActive="router-link-active" class="cursor">
              <i class="fa fa-user-circle icon"></i> 
            </a>
          </div>
          <div class="login" *ngIf="isAuthenticated && user">
            <a (click)="logout()" class="cursor">
              <i class="fa fa-sign-out icon"></i>
              <span class="ml-2">{{user.firstName}}</span>
            </a>
          </div>
        </div>
      </div>
      <div id="mySidenav" class="sidenav">
        <a class="closebtn" (click)="closeNav()">&times;</a>
        <!-- <a href="#">{{user?.firstName}}</a> -->
        <a href="#">Booking</a>
        <a href="#">History</a>
        
      </div>
    </div>
    <!-- mobile header end -->
  </div>
</div>