<div class="container register">
  <div class="row m-0">
    <div class="col-md-3 register-left">
        <img src="assets/images/train image.PNG" alt="">
      <h3>Welcome</h3>
      <p>You are 30 seconds away from MBTA E-Ticket booking</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="d-block d-sm-block d-md-none">
        <ul class="nav mob-nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab-login" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab-login" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Register</a>
          </li>
        </ul>
      </div>
      <div class="d-none d-sm-none d-md-block">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Register</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Login</h3>
          <form action="" method="" class="" role="form" novalidate [formGroup]="loginform">
            <div class="row register-form">
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <input type="email" name="email" formControlName="email" class="form-control"
                    placeholder="Your Email *" value="" />
                  <span class="error_sms" *ngIf="!loginform.controls.email.valid && submited">
                    Please enter the valid email.
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12">

                <div class="form-group">
                  <input type="password" name="password" formControlName="password" class="form-control"
                    placeholder="Password *" value="" />
                  <span class="error_sms" *ngIf="!loginform.controls.password.valid && submited">
                    Please enter password.
                  </span>
                </div>
                <input type="submit" (click)="login()" class="btnRegister" value="Login" />
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3 class="register-heading">Registration</h3>
          <form action="" method="" class="" role="form" novalidate [formGroup]="registrationform">
            <div class="row register-form">

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="First Name *" formControlName="firstName"
                    value="" />
                  <span class="error_sms" *ngIf="!registrationform.controls.firstName.valid && submited">
                    Please enter name.
                  </span>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Your Email *" formControlName="email"
                    value="" />
                  <span class="error_sms" *ngIf="!registrationform.controls.email.valid && submited">
                    Please enter the valid email.
                  </span>
                </div>


              </div>
              <div class="col-md-6 col-12">

                <div class="form-group">
                  <input type="text" name="lname" class="form-control" placeholder="Last Name *"
                    formControlName="lastName" value="" />
                  <span class="error_sms" *ngIf="!registrationform.controls.lastName.valid && submited">
                    Please enter last name.
                  </span>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="password" placeholder="Password *"
                    value="" />
                  <span class="error_sms" *ngIf="!registrationform.controls.password.valid && submited">
                    Please enter password.
                  </span>
                </div>
                <input type="submit" class="btnRegister" (click)="signup()" value="Register" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
